.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/ru/stqa/pft/sandbox/MyFirstProgram.java
*.log
*.html
mantis-tests/build/tmp/test/jar_extract_5520727284653995403_tmp
